{% extends 'index.html' %} {% block content %}
<div id="employees-content" class="content-section">
  <div id="toast-container"></div>
  <div class="container-fluid">
            <h2 class="mb-4 text-center p-3 text-white rounded shadow-sm w-100" style="background-color: #0F6735;">Gestion des Clients</h2>
    <!-- Search and Filter -->
    <div class="card mb-4 border-0 shadow-sm">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-8">
            <label class="form-label"><i class="fas fa-search me-2"></i>Recherche:</label>
            <input
              id="champrecherche"
              type="text"
              class="form-control"
              placeholder="Rechercher un employé..."
            />
          </div>
          <div class="col-md-4 d-flex justify-content-end align-items-end gap-2">
           <button class="btn" style="background-color: #058f8f; color: white;" data-bs-toggle="modal" data-bs-target="#addClientModal"><i class="fas fa-plus me-2"></i> Ajouter un Client</button>
           <!-- <button class="btn" style="background-color: #3498db; color: white;" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"><i class="fas fa-download me-2"></i>Exporter</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Employees Table -->
    <div class="card border-0 shadow-sm">
      <div class="card-header" style="background-color: #0F6735; border: none;">
        <h5 class="card-title mb-0 text-white"><i class="fas fa-users me-2"></i>Liste des  Clients</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" id="Table">
            <thead style="background-color: #f8f9fa;">
              <tr>
                <th><i class="fas fa-id-card me-2"></i>Code</th>
                <th><i class="fas fa-user me-2"></i>Nom&Prenom</th>
                <th><i class="fas fa-envelope me-2"></i>Email</th>
                <th><i class="fas fa-id-card me-2"></i>CNI</th>
                <th><i class="fas fa-phone me-2"></i>Téléphone</th>
                <th><i class="fas fa-local me-2"></i>Adresse</th>
                <th><i class="fas fa-cog me-2"></i>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in valeurs %}
              <tr>
                <td><code>{{item.Code}}</code></td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar me-2">
                      <img
                        src="static\images\icons8-life-cycle-96.png"
                        alt="Employee"
                      />
                    </div>
                    <div><strong>{{item.Nom}} {{item.Prenom}}</strong></div>
                  </div>
                </td>
                <td>{{item.Email}}</td>
                <td>{{item.CNI}}</td>
                <td><code>{{item.telephone}}</code></td>
                <td><code>{{item.adresse}}</code></td>
                <td class="text-nowrap">
                  <button
                    class="btn btn-sm btn-edit"
                    style="background-color: #3498db; color: white;"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#addClientModal"
                    data-id="{{item.Code}}"
                    data-nom="{{item.Nom}}"
                    data-prenom="{{item.Prenom}}"
                    data-email="{{item.Email}}"
                    data-cni="{{item.CNI}}"
                    data-telephone="{{item.telephone}}"
                    data-adresse="{{item.adresse}}"
                  >
                    <i class="fas fa-edit me-1"></i> Modifier
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center"></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addClientModal"
  tabindex="-1"
  aria-labelledby="addClientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0F6735; color: white;">
        <h5 class="modal-title text-white" id="addClientModalLabel">
          Ajouter un nouveau Client
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/Client" method="POST" enctype="multipart/form-data">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="employeeId" class="form-label"><strong>Nom*</strong></label>
              <input
                type="text"
                class="form-control"
                name="Nom"
                id="nom"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="department" class="form-label"><strong>Prenom*</strong></label>
              <input
                type="text"
                class="form-control"
                name="Prenom"
                id="prenom"
                required
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="email" class="form-label"><strong>Email*</strong></label>
              <input type="email" class="form-control" name="email" id="email" required />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label"><strong>Téléphone*</strong></label>
              <input type="tel" class="form-control" name="telephone" id="telephone" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="Adresse" class="form-label"><strong>Adresse*</strong></label>
              <input
                type="text"
                class="form-control"
                name="Adresse"
                id="adresse"
                required
              />
            </div>
            <div class="col-md-4">
              <label for="position" class="form-label"><strong>Date*</strong></label>
              <input type="date" class="form-control" name="Date" id="Date" />
            </div>
            <div class="col-md-4">
              <label for="position" class="form-label"><strong>Numero CNI*</strong></label>
              <input type="text" class="form-control" name="cni" id="cni" />
            </div>
          </div>
          <!-- <div class="row mb-3">
            <div class="col-md-12">
              <label for="phone" class="form-label"><strong>Copie de la CNI*</strong></label>
              <input type="file" class="form-control" name="copie_cni" id="copie_cni" />
            </div>
          </div> -->
          <input type="submit" value="Enregistrer" class="btn" style="background-color: #0F6735; color: white;" />
          <input
            type="reset"
            value="Annuler"
            class="btn" 
            style="background-color: #95a5a6; color: white;"
            data-bs-dismiss="modal"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='pagination.js') }}"></script>
<script>
  

  // Search functionality
  document.getElementById('champrecherche').addEventListener('keyup', function() {
    const searchTerm = this.value.toLowerCase();
    const table = document.getElementById('Table');
    const rows = table.querySelectorAll('tbody tr');
    
    rows.forEach(row => {
      const text = row.textContent.toLowerCase();
      row.style.display = text.includes(searchTerm) ? '' : 'none';
    });
  });

  
  document.querySelectorAll(".btn-edit").forEach(button=>{
    button.addEventListener("click",function(){
      document.getElementById("nom").value=this.dataset.nom
      document.getElementById("prenom").value=this.dataset.prenom
      document.getElementById("email").value=this.dataset.email
      document.getElementById("cni").value=this.dataset.cni
      document.getElementById("adresse").value=this.dataset.adresse
      document.getElementById("telephone").value=this.dataset.telephone
      document.getElementById("Date").value=this.dataset.Date
     
    })
  })
</script>
{% endblock %}
